<div class="dashboard">
  <nav></nav>
  <div class="dashboard-box">
    <h2>Lorem Ipsum</h2>
    <hr />
    <p>
      Aenean fringilla neque ut odio viverra, sit amet efficitur ante posuere.
      In sapien tortor, fermentum commodo placerat a, commodo vitae nibh.
      Vivamus et hendrerit arcu. Quisque ac ullamcorper arcu. Sed pretium dolor
      commodo orci gravida, a venenatis lorem interdum. Donec egestas aliquam
      arcu id mattis. Duis faucibus, velit eu vehicula dictum, eros odio
      imperdiet felis, sed malesuada dolor odio id nisl.
    </p>
  </div>

  <div class="dashboard-box">
    <h2>Boligmappa Search</h2>
    <hr />
    <div class="bm-container">
      <div class="search-container">
        <boligmappa-search development="true"></boligmappa-search>
      </div>
      <boligmappa-connect development="true"></boligmappa-connect>
    </div>
  </div>
  <div class="dashboard-box">
    <h2>Ipsum Lorem</h2>
    <hr />
    <p>
      Vivamus in elementum purus. Donec magna justo, semper sed rhoncus vel,
      tristique quis eros. Donec eget est sodales, maximus nulla et, feugiat
      purus. Vestibulum commodo turpis eu diam viverra dignissim. Curabitur vel
      leo eu justo fringilla tincidunt. Donec eu odio finibus, dictum neque non,
      facilisis ante. Vestibulum quis porta massa, vitae faucibus lacus. Proin
      vel justo ac orci feugiat pellentesque.
    </p>
  </div>
</div>
