<div class="settings">
  <nav></nav>
  <div class="settings-box">
    <h2>Lorem Ipsum</h2>
    <p>
      Aenean fringilla neque ut odio viverra, sit amet efficitur ante posuere.
      In sapien tortor, fermentum commodo placerat a, commodo vitae nibh.
    </p>
  </div>
  <div class="settings-box">
    <h2>Ipsum Lorem</h2>
    <p>
      Vestibulum commodo turpis eu diam viverra dignissim. Curabitur vel leo eu
      justo fringilla tincidunt.
    </p>
  </div>
  <div class="settings-box">
    <h2>Lorem Ipsum</h2>
    <div>
      <input type="checkbox" id="scales" name="scales" checked />
      <label for="scales">Lorem</label>
    </div>

    <div>
      <input type="checkbox" id="horns" name="horns" />
      <label for="horns">Ipsum</label>
    </div>
  </div>
  <div class="settings-box">
    <h2>Ipsum Lorem</h2>
    <div>
      <input type="radio" id="huey" name="drone" value="huey" checked />
      <label for="huey">Lorem Ipsum</label>
    </div>

    <div>
      <input type="radio" id="dewey" name="drone" value="dewey" />
      <label for="dewey">Ipsum Lorem</label>
    </div>
  </div>

  <div class="settings-box">
    <h2>Boligmappa Connect</h2>

    <boligmappa-connect development="true"></boligmappa-connect>
  </div>
  <div class="settings-box">
    <h2>Ipsum Lorem</h2>
    <p>
      Vivamus in elementum purus. Donec magna justo, semper sed rhoncus vel,
      tristique quis eros. Donec eget est sodales, maximus nulla et, feugiat
      purus.
    </p>
  </div>
</div>
